.nav-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    background-color: aquamarine;
    height: 50px;
    align-items: center;

    a {
        text-decoration: none;
        &:hover {
            color: red;
        }
    }
}