.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 100%;

    input {
        height: 3%;
        width: 15%;
    }

    button {
        height: 4%;
        width: 6%;
        background-color: #4caf50;
        color: #fff;
    }
}

.favorite-city-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}