.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    max-width: 600px;
}

.modal-content {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
}

/* Customize modal header */
.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-title {
    font-size: 24px;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    padding: 15px 20px;
    justify-content: flex-start;
}

.modal-footer .btn-primary {
    margin-right: 10px;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.modal-header .close:hover {
    color: #000;
}